<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-item-centre">
                        <div class="col">
                            <input type="search" name="item_name" id="item_name" placeholder="Search products"
                                   class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for product in product_object %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}" width="150px" height="200px">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                     <b>{{ product.discount_price }}</b> <strike>{{ product.price }}</strike>
                    <a href="#" class="btn btn-primary">View Details</a>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div align="center">
            <!-- PAGINATION -->
            {% if product_object.has_other_pages %}
            <div class="row d-flex justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if product_object.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_data.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled "><a class="page-link" href="">Previous</a></li>
                        {% endif %}

                        {% for page in product_object.paginator.page_range %}
                            <li class="page-item {% if page_data.number == page%} active {% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}
                        {% if product_object.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_data.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled "><a class="page-link" href="">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
            <!-- END PAGINATION -->
            </div>
        </div>
    </div>
</body>
</html>